<h1>Post Form</h1><br>
<%= form_for(@post) do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %><br>
  <%= f.label :content %>
  <%= f.text_area :content %><br>
  <%= f.label :likes %>
  <%= f.number_field :likes %><br>
  <%= f.label :blogger_id %>
  <%= f.collection_select(:blogger_id, Blogger.all, :id, :name)%><br>
  <%= f.label :destination_id %>
  <%= f.collection_select(:destination_id, Destination.all.uniq, :id, :name)%><br>
  <%= f.submit %>
<%end%>
